# Binaries & external tools
ffmpeg/ffmpeg
ffmpeg/ffmpeg.exe
ffmpeg/ffplay.exe
ffmpeg/ffprobe.exe
yt-dlp/yt-dlp
yt-dlp.exe

# Build artifacts
/dist
/build

# Python
__pycache__/
__Pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Assets
icon/Music2MP3-icon.ai
